<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from demo.awaikenthemes.com/html-preview/Digitamon/about by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2024 09:52:23 GMT -->

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Digitamon is a leading digital marketing agency offering a wide range of services to help your business grow online.">
    <meta name="keywords" content="digital marketing, SEO, online marketing, social media, web development">
    <meta name="author" content="Awaiken">
    <meta name="robots" content="index, follow">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Digitamon - Digital Marketing Agency">
    <meta property="og:description" content="Digitamon is a leading digital marketing agency offering a wide range of services to help your business grow online.">
    <meta property="og:image" content="https://www.example.com/images/og-image.png">
    <meta property="og:url" content="https://www.example.com">
    <meta property="og:site_name" content="Digitamon">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Digitamon - Digital Marketing Agency">
    <meta name="twitter:description" content="Digitamon is a leading digital marketing agency offering a wide range of services to help your business grow online.">
    <meta name="twitter:image" content="https://www.example.com/images/twitter-image.png">
    <meta name="twitter:site" content="@DigitamonAgency">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://www.example.com">

    <!-- Structured Data (Schema.org) -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Digitamon",
      "url": "https://www.example.com",
      "logo": "https://www.example.com/images/logo.png",
      "sameAs": [
        "https://www.facebook.com/Digitamon",
        "https://twitter.com/DigitamonAgency",
        "https://www.linkedin.com/company/Digitamon"
      ],
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+1-800-555-5555",
        "contactType": "Customer Service"
      }
    }
    </script>

    <!-- Page Title -->
    <title>Digitamon - Digital Marketing Agency</title>

    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

    <!-- Google Fonts Css -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/slicknav.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link href="css/all.css" rel="stylesheet" media="screen">
    <link href="css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link href="css/custom.css" rel="stylesheet" media="screen">

    <!-- Preload CSS for faster load times -->
    <link rel="preload" href="css/bootstrap.min.css" as="style">
    <link rel="preload" href="css/custom.css" as="style">
    <link rel="preload" href="css/all.css" as="style">
<style>
          .whatsapp-button {
            display: inline-block;
            background-color: #25D366;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 16px;
            position: fixed;
            right: 0px;
            bottom: 5px
        }

        .whatsapp-button:hover {
            background-color: #1DA955;
        }
    </style></head>

<body class="tt-magic-cursor">

    <!-- Preloader Start -->

    <!-- Preloader End -->

    <!-- Magic Cursor Start -->
    <div id="magic-cursor">
        <div id="ball"></div>
    </div>
    <!-- Magic Cursor End -->

    <!-- Header Start -->
    <header class="main-header">
        <div class="header-sticky">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Logo Start -->
                    <a class="navbar-brand" href="index.html">
                        <img src="images/digitamonlogo.png" alt="Logo" style="width: 200px; height: auto;">
                    </a>
                    <!-- Logo End -->

                    <!-- Main Menu Start -->
                    <div class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto" id="menu">
                                <li class="nav-item"><a class="nav-link" href="/">home</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/about">about</a></li>
                                <li class="nav-item"><a class="nav-link" href="/services">services</a></li>
                                <li class="nav-item"><a class="nav-link" href="/portfolio">portfolio</a></li>
                                <li class="nav-item"><a class="nav-link" href="/blogs">blog</a></li>

                                <li class="nav-item highlighted-menu"><a class="nav-link" href="/contact">free
                                        consultation</a></li>
                            </ul>
                        </div>
                        <!-- Let’s Start Button Start -->
                        <div class="header-btn d-inline-flex">
                            <a href="/contact" class="btn-default">free consultation</a>
                        </div>
                        <!-- Let’s Start Button End -->
                    </div>
                    <!-- Main Menu End -->

                    <div class="navbar-toggle"></div>
                </div>
            </nav>
            <div class="responsive-menu"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="text-anime-style-3">about</h1>
                        <nav class="wow fadeInUp" data-wow-delay="0.25s">
                            
                        </nav>
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Page About Section Start -->
    <div class="page-about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- about Image Start -->
                    <div class="page-about-image">
                        <div class="about-img-1">
                            <figure class="image-anime reveal">
                                <img src="images/page-about-1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="about-img-2">
                            <figure class="image-anime reveal">
                                <img src="images/page-about-2.jpg" alt="">
                            </figure>
                        </div>
                        <div class="work-experience">
                            <div class="work-experience-icon">
                                <img src="images/icon-work-experience.svg" alt="">
                            </div>
                            <div class="work-experience-content">
                                <h3><span class="counter">30</span>+</h3>
                                <p>Work Experience</p>
                            </div>
                        </div>
                    </div>
                    <!-- about Image End -->
                </div>

                <div class="col-lg-6">
                    <!-- about Content Start -->
                    <div class="about-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">about</h3>
                            <h2 class="text-anime-style-3">Websites that tell your brand's story</h2>
                        </div>
                        <!-- Section Title End -->
                        <p class="wow fadeInUp" data-wow-delay="0.25s">We believe that authenticity is key to building
                            trust with your audience. Our websites showcase your brand's unique personality, values, and
                            mission, helping you connect with customers on a deeper level.
                        </p>
                        <p class="wow fadeInUp" data-wow-delay="0.5s">A clear and concise message is essential for
                            driving business results. Our websites effectively communicate your brand's story, products,
                            and services, ensuring visitors understand your value proposition.</p>

                            <p class="wow fadeInUp" data-wow-delay="0.75s">Consistency is crucial for building a strong
                                brand. Our websites ensure that your brand's story, tone, and visual identity are
                                consistently presented across all digital touchpoints.</p>

                                <ul class="wow fadeInUp" data-wow-delay="1s">
                                    <li>Expertly crafted storytelling that sets you apart from the competition</li>
                                    <li>Websites that truly reflect your brand's unique voice and personality</li>
                                    <li>Compelling narratives that drive engagement and conversions</li>
                                    <li>Authentic and transparent storytelling that builds trust with your audience</li>
                                    <li>Consistent and cohesive branding that elevates your online presence</li>
                                </ul>
                    </div>
                    <!-- about Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page About Section End -->

    <!-- Why Choose Us Section Start -->
    <div class="why-choose-us">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-8 col-md-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">why choose us</h3>
                        <h2 class="text-anime-style-3">Why choose us ?</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Why Choose Item Start -->
                    <div class="why-choose-us-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="icon-box">
                            <img src="images/icon-whyus-1.svg" alt="">
                        </div>
                        <h3>innovation</h3>
                        <p>We stay ahead of the curve, embracing the latest technologies and trends to ensure our
                            clients receive cutting-edge solutions that drive business growth.
                        </p>
                    </div>
                    <!-- Why Choose Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Why Choose Item Start -->
                    <div class="why-choose-us-item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon-box">
                            <img src="images/icon-whyus-2.svg" alt="">
                        </div>
                        <h3>quality-focused</h3>
                        <p>We're passionate about delivering high-quality work that exceeds expectations. Our team of
                            experts is dedicated to crafting solutions that are both effective and visually stunning.
                            .</p>
                    </div>
                    <!-- Why Choose Item End -->
                </div>

                <div class="col-lg-4">
                    <!-- Why Choose Item Start -->
                    <div class="why-choose-us-item wow fadeInUp" data-wow-delay="0.75s">
                        <div class="icon-box">
                            <img src="images/icon-whyus-3.svg" alt="">
                        </div>
                        <h3>value for money</h3>
                        <p>We believe in delivering exceptional value without compromising on quality. Our solutions are
                            tailored to meet your unique needs, ensuring you get the best possible return on investment.

                        </p>
                    </div>
                    <!-- Why Choose Item End -->
                </div>
                
            </div>
        </div>
    </div>
    <!-- Why Choose us Section End -->

    <!-- Exclusive Partners Section Start -->
    <div class="exclusive-partners">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">executive partners</h3>
                        <h2 class="text-anime-style-3">100+ Partners & supporters</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- Partners Logo Start -->
                    <div class="partners-logo wow fadeInUp" data-wow-delay="0.2s">
                        <img src="images/icon-partners-1.svg" alt="">
                    </div>
                    <!-- Partners Logo End -->
                </div>

                <div class="col-lg-3 col-6">
                    <!-- Partners Logo Start -->
                    <div class="partners-logo wow fadeInUp" data-wow-delay="0.4s">
                        <img src="images/icon-partners-2.svg" alt="">
                    </div>
                    <!-- Partners Logo End -->
                </div>

                <div class="col-lg-3 col-6">
                    <!-- Partners Logo Start -->
                    <div class="partners-logo wow fadeInUp" data-wow-delay="0.6s">
                        <img src="images/icon-partners-3.svg" alt="">
                    </div>
                    <!-- Partners Logo End -->
                </div>

                <div class="col-lg-3 col-6">
                    <!-- Partners Logo Start -->
                    <div class="partners-logo wow fadeInUp" data-wow-delay="0.8s">
                        <img src="images/icon-partners-4.svg" alt="">
                    </div>
                    <!-- Partners Logo End -->
                </div>

            </div>
        </div>
    </div>
    <!-- Exclusive Partners Section End -->

    <!-- Overview Comapny Section Start -->
    <div class="overview-company">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">ourview comapny</h3>
                        <h2 class="text-anime-style-3">Stats that matter</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Counter Box Start -->
                    <div class="counter-box">
                        <h3><em>#</em><span>1</span> IT Services</h3>
                        <p>Company In UK</p>
                    </div>
                    <!-- Counter Box End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Counter Box Start -->
                    <div class="counter-box">
                        <h3><span class="counter">300</span><em>+</em></h3>
                        <p>Global Clients</p>
                    </div>
                    <!-- Counter Box End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Counter Box Start -->
                    <div class="counter-box">
                        <h3><span class="counter">21</span><em>+</em> years</h3>
                        <p>In Development</p>
                    </div>
                    <!-- Counter Box End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Counter Box Start -->
                    <div class="counter-box">
                        <h3><em>$</em><span class="counter">50</span><em>+</em> Million</h3>
                        <p>Total Revenue</p>
                    </div>
                    <!-- Counter Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Overview Comapny Section End -->

    <!-- Our Team Section Start -->
    <div class="our-team">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">our team</h3>
                        <h2 class="text-anime-style-3">Meet the expert</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Team Member Item Start -->
                    <div class="team-member-item wow fadeInUp" data-wow-delay="0.25s">
                        <!-- Team Img Start -->
                        <div class="team-image">
                            <figure>
                                <img src="images/precious.jpg" alt="">
                            </figure>

                            <div class="our-team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Img End -->

                        <!-- Team Body Start -->
                        <div class="team-body">
                            <div class="team-content">
                                <h3>Arierhi Precious</h3>
                                <p>Founder & C.T.O </p>
                            </div>
                            <div class="team-icon">
                                <a href="#"><img src="images/icon-share.svg" alt=""></a>
                            </div>
                        </div>
                        <!-- Team Body End -->
                    </div>
                    <!-- Team Member Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Team Member Item Start -->
                    <div class="team-member-item wow fadeInUp" data-wow-delay="0.5s">
                        <!-- Team Img Start -->
                        <div class="team-image">
                            <figure>
                                <img src="images/marvelous.jpg" alt="">
                            </figure>

                            <div class="our-team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Img End -->

                        <!-- Team Body Start -->
                        <div class="team-body">
                            <div class="team-content">
                                <h3>Etchie Marvelous</h3>
                                <p>UX/UI Manager and cofounder</p>
                            </div>
                            <div class="team-icon">
                                <a href="#"><img src="images/icon-share.svg" alt=""></a>
                            </div>
                        </div>
                        <!-- Team Body End -->
                    </div>
                    <!-- Team Member Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Team Member Item Start -->
                    <div class="team-member-item wow fadeInUp" data-wow-delay="0.75s">
                        <!-- Team Img Start -->
                        <div class="team-image">
                            <figure>
                                <img src="images/abel.jpg" alt="">
                            </figure>

                            <div class="our-team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Img End -->

                        <!-- Team Body Start -->
                        <div class="team-body">
                            <div class="team-content">
                                <h3>Abel</h3>
                                <p>Sr Developer</p>
                            </div>
                            <div class="team-icon">
                                <a href="#"><img src="images/icon-share.svg" alt=""></a>
                            </div>
                        </div>
                        <!-- Team Body End -->
                    </div>
                    <!-- Team Member Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Team Member Item Start -->
                    <div class="team-member-item wow fadeInUp" data-wow-delay="1s">
                        <!-- Team Img Start -->
                        <div class="team-image">
                            <figure>
                                <img src="images/blessing.jpg" alt="">
                            </figure>

                            <div class="our-team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Img End -->

                        <!-- Team Body Start -->
                        <div class="team-body">
                            <div class="team-content">
                                <h3>Chibuike Rehoboth</h3>
                                <p>Graphics designer & Social media manager</p>
                            </div>
                            <div class="team-icon">
                                <a href="#"><img src="images/icon-share.svg" alt=""></a>
                            </div>
                        </div>
                        <!-- Team Body End -->
                    </div>
                    <!-- Team Member Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Team Member Item Start -->
                    <div class="team-member-item wow fadeInUp" data-wow-delay="1s">
                        <!-- Team Img Start -->
                        <div class="team-image">
                            <figure>
                                <img src="images/amanda.jpg" alt="">
                            </figure>

                            <div class="our-team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Img End -->

                        <!-- Team Body Start -->
                        <div class="team-body">
                            <div class="team-content">
                                <h3> Chibuike Precious</h3>
                                <p> Social media manager</p>
                            </div>
                            <div class="team-icon">
                                <a href="#"><img src="images/icon-share.svg" alt=""></a>
                            </div>
                        </div>
                        <!-- Team Body End -->
                    </div>
                    <!-- Team Member Item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Team Section End -->

    <!-- Scrolling Ticker Section Start -->
    <div class="scrolling-ticker">
        <div class="scrolling-ticker-box">
            <div class="scrolling-content">
                <span><i class="fa-solid fa-circle"></i>Web Development</span>
                <span><i class="fa-solid fa-circle"></i>Digital Marketing</span>
                <span><i class="fa-solid fa-circle"></i>Search Engine Optimization</span>
                <span><i class="fa-solid fa-circle"></i>social media management</span>
                <span><i class="fa-solid fa-circle"></i>Graphic design</span>
                <span><i class="fa-solid fa-circle"></i>ppc(pay per click advertising)</span>
                <span><i class="fa-solid fa-circle"></i>Ecommerce solution</span>
                <span><i class="fa-solid fa-circle"></i>video production</span>
                <span><i class="fa-solid fa-circle"></i>content creation</span>
            </div>
            

            <div class="scrolling-content">
                <span><i class="fa-solid fa-circle"></i>Web Development</span>
                <span><i class="fa-solid fa-circle"></i>Digital Marketing</span>
                <span><i class="fa-solid fa-circle"></i>Search Engine Optimization</span>
                <span><i class="fa-solid fa-circle"></i>social media management</span>
                <span><i class="fa-solid fa-circle"></i>Graphic design</span>
                <span><i class="fa-solid fa-circle"></i>ppc(pay per click advertising)</span>
                <span><i class="fa-solid fa-circle"></i>Ecommerce solution</span>
                <span><i class="fa-solid fa-circle"></i>video production</span>
                <span><i class="fa-solid fa-circle"></i>content creation</span>
            </div>
        </div>
    </div>
    <!-- Scrolling Ticker Section End -->

    <!-- clients testimonials Section Start -->
    <div class="clients-testimonials about-testimonials">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-8 col-md-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">client testimonials</h3>
                        <h2 class="text-anime-style-3">Our customers love us.</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Testimonial Slider Start -->
                    <div class="testimonial-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-rating">
                                            <img src="images/icon-star.svg" alt="">
                                        </div>

                                        <div class="testimonial-content">
                                            <p>Working with digitamon has been a game-changer for our business. Their
                                                innovative approach to digital marketing has increased our online
                                                presence and driven real results. We've seen a significant boost in
                                                sales and customer engagement!.</p>
                                        </div>

                                        <div class="testimonial-body">
                                            <figure class="image-anime">
                                                <img src="images/author-1.jpg" alt="">
                                            </figure>
                                            <div class="testimonial-author-title">
                                                <h2>John Doe</h2>
                                                <p>Acme Solutions</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->

                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-rating">
                                            <img src="images/icon-star.svg" alt="">
                                        </div>

                                        <div class="testimonial-content">
                                            <p>I was blown away by the quality of work delivered by digitamon. Their
                                                team is knowledgeable, responsive, and truly cares about their clients'
                                                success. We've already seen a return on investment and can't wait to
                                                continue working with them!</p>
                                        </div>

                                        <div class="testimonial-body">
                                            <figure class="image-anime">
                                                <img src="images/author-2.jpg" alt="">
                                            </figure>
                                            <div class="testimonial-author-title">
                                                <h2>Arita Banson</h2>
                                                <p>Delta Innovation</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->

                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-rating">
                                            <img src="images/icon-star.svg" alt="">
                                        </div>

                                        <div class="testimonial-content">
                                            <p>We struggled to find a digital agency that truly understood our unique
                                                needs until we found digitamon. Their tailored solutions and exceptional
                                                customer service have exceeded our expectations and helped us achieve
                                                our business goals.</p>
                                        </div>

                                        <div class="testimonial-body">
                                            <figure class="image-anime">
                                                <img src="images/author-3.jpg" alt="">
                                            </figure>
                                            <div class="testimonial-author-title">
                                                <h2>Banson Doe</h2>
                                                <p>Horizon Ventures</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->

                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-rating">
                                            <img src="images/icon-star.svg" alt="">
                                        </div>

                                        <div class="testimonial-content">
                                            <p>"The team at digitamon is incredibly talented and dedicated to delivering
                                                high-quality work. Their expertise in web development and SEO has
                                                transformed our online presence and improved our bottom line. We highly
                                                recommend their services!"</p>
                                        </div>

                                        <div class="testimonial-body">
                                            <figure class="image-anime">
                                                <img src="images/author-2.jpg" alt="">
                                            </figure>
                                            <div class="testimonial-author-title">
                                                <h2>John Doe</h2>
                                                <p>Omega Solutions</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!-- Testimonial Slider End -->
                </div>
            </div>
        </div>
    </div>
    <!-- clients testimonials Section End -->

    <!-- Footer Start -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Mega Footer Start -->
                    <div class="mega-footer">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <!-- Footer About Start -->
                                <div class="footer-about">
                                    <figure>
                                        <img src="images/footer-digitamonlogo.png" alt="">
                                    </figure>
                                    <p></p>
                                    <ul>
                                        <li><a href="#">support@digitamon.com</a></li>
                                        <li><a href="#">+2347014991581</a></li>
                                    </ul>
                                </div>
                                <!-- Footer About End -->
                            </div>

                            <div class="col-lg-2 col-md-4">
                                <!-- Footer Links Start -->
                                <div class="footer-links">
                                    <h2>pages</h2>
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">about</a></li>
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/blogs">Blog</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                    </ul>
                                </div>
                                <!-- Footer Links End -->
                            </div>

                            <div class="col-lg-2 col-md-4">
                                <!-- Footer Links Start -->
                                <div class="footer-links">
                                    <h2>Socials</h2>
                                    <ul>
                                        <li><a href="#">instagram</a></li>
                                        <li><a href="#">facebook</a></li>
                                        <li><a href="#">twitter</a></li>
                                        <li><a href="#">linkedin</a></li>
                                    </ul>
                                </div>
                                <!-- Footer Links End -->
                            </div>

                            <div class="col-lg-2 col-md-4">
                                <!-- Footer Links Start -->
                                <div class="footer-links">
                                    <h2>services</h2>
                                    <ul>
                                        <li><a href="#">web development</a></li>
                                        <li><a href="#">digital marketing</a></li>
                                        <li><a href="#"> Search engine optimization</a></li>
                                        <li><a href="#">social media management</a></li>
                                        <li><a href="#">Ecommerce</a></li>
                                        <li><a href="#"> Video Production</a></li>
                                        <li><a href="#">Content Creation</a></li>
                                    </ul>
                                </div>
                                <!-- Footer Links End -->
                            </div>
                        </div>
                    </div>
                    <!-- Mega Footer End -->

                    <!-- Copyright Footer Start -->
                    <div class="footer-copyright">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <!-- Footer Copyright Content Start -->
                                <div class="footer-copyright-text">
                                    <p>Copyright © 2024 Digitamon. All rights reserved.</p>
                                </div>
                                <!-- Footer Copyright Content End -->
                            </div>
                            <div class="col-lg-6">
                                <!-- Footer Policy Links Start -->
                                <div class="footer-policy-links">
                                    <ul>
                                        <li><a href="#">privacy policy</a></li>
                                        <li><a href="#">terms of service</a></li>
                                        <li class="highlighted"><a href="#top">go to top</a></li>
                                    </ul>
                                </div>
                                <!-- Footer Policy Links End -->
                            </div>
                        </div>
                    </div>
                    <!-- Copyright Footer End -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- Jquery Library File -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap js file -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Validator js file -->
    <script src="js/validator.min.js"></script>
    <!-- SlickNav js file -->
    <script src="js/jquery.slicknav.js"></script>
    <!-- Swiper js file -->
    <script src="js/swiper-bundle.min.js"></script>
    <!-- Counter js file -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Isotop js file -->
    <script src="js/isotope.min.js"></script>
    <!-- Magnific js file -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- SmoothScroll -->
    <script src="js/SmoothScroll.js"></script>
    <!-- MagicCursor js file -->
    <script src="js/gsap.min.js"></script>
    <script src="js/magiccursor.js"></script>
    <!-- Text Effect js file -->
    <script src="js/SplitText.js"></script>
    <script src="js/ScrollTrigger.min.js"></script>
    <!-- Wow js file -->
    <script src="js/wow.js"></script>
    <!-- Main Custom js file -->
    <script src="js/function.js"></script>
<a href="https://wa.me/+2349071991647" class="whatsapp-button">Chat with us on WhatsApp</a>

    <!-- Replace '1234567890' with your WhatsApp number -->
</body>

<!-- Mirrored from demo.awaikenthemes.com/html-preview/Digitamon/about by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2024 09:52:30 GMT -->

</html>